@charset "UTF-8";


/*tag*/
a{
	text-decoration-line: none;
	border: 1px solid 6892d5;
}

/*class*/
.first-color { 
	background: #f8fcfb; 
}
	
.second-color { 
	background: #e8ddc8; 
}

.third-color { 
	background: #e8ddc8; 
}

.fourth-color { 
	background: #e8ddc8; 
}

.header-box{
	background: #e8ddc8; 
	display: inline;
	margin: 1px;
}
body{
	background-color: #e8ddc8;
}


table{background-color: rgb(255, 255, 255);}
tbody tr:nth-child(2n) {
		background-color: rgb(255, 255, 255);
	  }
	  tbody tr:nth-child(2n-1) {
		background-color: rgb(255, 251, 217);
	  }