<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>---  회원가입  ---</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<form action="/addAccount" method="post" enctype="multipart/form-data">
			Name : <input type="text" name="name"><br>
			
			Password : <input type="text" name="password"><br>
			유형 : <select name="auth">
					<option value="admin">판매자</option>
				    <option value="user">소비자</option>
				  </select>
			<br>
			
			<input type="submit" value="저장">
			
		</form>
		<button onclick="goList()">취소</button>
		
</body>
<script type="text/javascript" src="/js/default.js"></script>
</html>