<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자 로그인</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<form action="/login" method="post" enctype="multipart/form-data">
			관리자명 : <input type="text" name="name"><br>
			
			비밀번호 : <input type="text" name="password"><br>
			

			<input type="submit" value="로그인">
			
		</form>
		<button onclick="goList()">취소</button>
		
</body>
<script type="text/javascript" src="/js/default.js"></script>
</html>