<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Item List</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body >
	<style>
		th{
			font-size: 40px;
		}
	</style>
	
	<div class="second-color">
		<a href="/">		시작 페이지	</a>
	</div>

	<div class="third-color">
		<span>상품 검색</span>
		<input id="serach_text" type="text" onkeypress="serach(event)">
	</div>
	
	<table border="1">
		<tr>
			<th>상품명</th>
			<th>가격</th>
			<th>제조사</th>
		</tr>
		<tr th:each = "Item:${itemList}">
			<td>
				<a th:text = "${Item.name}" th:href="@{/{id}(id=${Item.id})}"></a>
			</td>
			<td th:text = "${Item.price}"></td>
			<td th:text = "${Item.manufacturer}"></td>
			
		</tr>
	</table>
	
	
</body>
<script type="text/javascript" th:inline="javascript">
	function serach(event){
		if(event.keyCode == 13){
			var t = document.getElementById("serach_text").value;
			location.href = "/searchPage?t="+t;
		}
	}	
</script>
	
</script>
<script type="text/javascript" src="/js/default.js"></script>
</html>