<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 수정</title>
</head>
<body>
	<form th:action="@{/goUpdate/{id}(id=${detailItem.id})}" method="post" name="updateForm">
			Id : <input type="text" readonly name="id" th:value="${detailItem.id}">
			<br>
			name : <input type="text" name="name" th:value="${detailItem.name}">
			<br>
			price : <input type="text" name="price" th:value="${detailItem.price}">
			<br>
			manufacturer : <input type="text" name="manufacturer" th:value="${detailItem.manufacturer}">
			<br>
			exp : <input type="text" name="exp" th:value="${detailItem.exp}">
			<br>
			
		</form>
		<br>
		<input type="button" value="수정" onclick="goUpdateAcess()">
	
	<br>
	
	
	
	
</body>
	
<script type="text/javascript" th:inline="javascript">
	var id = '[[${detailItem.id}]]';
	// 수정 적용 페이지로 이동
	const goUpdateAcess = ()=>{
		const ok = confirm("수정하시겠습니까?");
		if(ok){
			updateForm.submit();
		}
	}
</script>


<script type="text/javascript" src="/js/default.js"></script>
	
		
		

	
	
	
</html>