<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이 페이지</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	
	<div class="second-color">
		<div class="header-box"><a href="/">				시작 페이지	</a></div>
		<span class="header-box">안녕하세요 </span>
		<span class="header-box" th:text="${name}"> </span>
		<span class="header-box">님 </span>
		
	</div>
	
		</table>
		<h3>구매목록</h3>
			<table border="1">
					<tr>
						<th>상품명</th>
						<th>가격</th>
						<th>제조사</th>
						<th>제거</th>
					</tr>
					<tr th:each = "Item:${historyList}">
						<td>
							<a th:text = "${Item.name}" th:href="@{/{id}(id=${Item.id})}"></a>
						</td>
						<td th:text = "${Item.price}"></td>
						<td th:text = "${Item.manufacturer}"></td>
						<td>
							<a th:href="@{/historyDelete/{id}(id=${Item.id})}">제거</a>
						</td>
						
					</tr>
				</table>
</body>
<script type="text/javascript" src="/js/default.js"></script>
</html>