<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>-- 도서목록 조회 (Board) --</title>
</head>
<body>
	<style>
		th{
			font-size: 40px;
		}
	</style>

	<a href="/">HOME</a>
	<table border="1">
		<tr>
			<th>bookid</th>
			<th>bookname</th>
			<th>publisher</th>
			<th>price</th>
		</tr>
		<tr th:each = "board:${bookList}">
			<td>
				<a th:text = "${board.bookid}" th:href="@{/{id}(id=${board.bookid})}"></a>
			</td>
			<td th:text = "${board.bookname}"></td>
			<td th:text = "${board.publisher}"></td>
			<td th:text = "${board.price}"></td>
		</tr>
	</table>
	
	
</body>
</html>