<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>-- Board 도서정보 상세보기 --</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>bookid</th>	
			<td th:text="${bookDetail.bookid}"></td>
		</tr>
		<tr>
			<th>bookname</th>	
			<td th:text="${bookDetail.bookname}"></td>
		</tr>
		<tr>
			<th>publisher</th>	
			<td th:text="${bookDetail.publisher}"></td>
		</tr>
		<tr>
			<th>price</th>	
			<td th:text="${bookDetail.price}"></td>
		</tr>
	</table>
	
	<br>
	
	<button onclick="goList()">목록</button>
	<button onclick="goUpdate()">수정</button>
	<button onclick="goDelete()">삭제</button>
	
	
	
	
</body>
<script th:inline="javascript">
	const goList = () => {
		//alert("목록 버튼");
		location.href = "/list";
	}
	const goUpdate = () => {
		//alert("수정 버튼");
		location.href = "/goUpdate/[[${bookDetail.bookid}]]";
	}
	const goDelete = () => {
		//alert("삭제 버튼");
		const ok = confirm("삭제하시겠습니까?");
		if(ok){
			location.href = "/goDelete/[[${bookDetail.bookid}]]";
		}
		
	}
		
</script>
</html>