<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 클래스 alias 가 들어갈 공간 -->
		
		<!-- indexController예시 -->
		<typeAlias type="com.example.demo.controller.IndexController" alias = "IndexController"></typeAlias>
		<typeAlias type="com.example.demo.dto.ItemDTO" alias = "item"></typeAlias>
		<typeAlias type="com.example.demo.dto.AccountDTO" alias = "account"></typeAlias>
	
	</typeAliases>
</configuration>